<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Chatter</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" />
    <link href="/css/style.css" rel="stylesheet">

    <link href="/css/animate.css" rel="stylesheet">

    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
</head>

<body>
    <div class="wrapper">
        <div id="page-wrapper" class="gray-bg">
            <div class="col-lg-12">
                <div class="ibox chat-view">
                    <div class="row">
                        <div class="ibox-title col-md-9">
                            Chat room panel
                        </div>
                        <div class="col-md-3">
                            <a href="/Auth/Profile?Username=<%=username %>"><span id="Username"><%=username %></span></a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="chat-users">
                                    <div class="users-list">
                                        <div class="chat-user">
                                            <div class="chat-user-name">
                                                <a href="#">Karl Jordan</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                <div class="col-md-9 ">
                                <div class="chat-discussion" id='chatdiscussion'/>                                                        
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="chat-message-form">
                                <div class="form-group">
                                    <textarea class="form-control message-input inputMessage" name="message" placeholder="Enter message text"></textarea>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script src="js/jquery-2.1.1.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="js/wow.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="js/inspinia.js"></script>
    <script src="js/plugins/pace/pace.min.js"></script>

    <script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <script src="/js/socket.io.js"></script>
    <script src="/js/chat.js"></script>


    <script type="text/javascript">
    $(document).ready(function() {
        var username = $("#Username").html(); 
        setUsername(username);
    });
</script>
</body>

</html>